* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  padding: 10px;
  background-color: #0E1420;
  height: 100vh;
  width: 100%;
}

.car-display-grid-item1,
.car-display-grid-item2,
.car-display-grid-item3,
.car-display-grid-item4 {
  background-color: #131927;
  border-radius: 10px;
}

.car-display-container  {
  color: #fff;
  display: grid;
  grid-template-columns: auto 362px 427px;
  grid-template-rows: auto 220px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }
  
  .car-display-grid-item1 { grid-area: 1 / 1 / 2 / 2; }
  .car-display-grid-item2 { grid-area: 2 / 1 / 3 / 2; }
  .car-display-grid-item3 { grid-area: 1 / 2 / 3 / 3; }
  .car-display-grid-item4 { grid-area: 1 / 3 / 3 / 4; } 
  